<template name="signupForm">
  <form id="signup-form">
    <h2>Sign Up</h2>

    <label for="signup-username">Username</label>
    <input type="text" id="signup-username" placeholder="Username" />

    <label for="signup-password">Password</label>
    <input type="password" id="signup-password" placeholder="Password" />

    <label for="signup-name">Full Name</label>
    <input type="text" id="signup-name" placeholder="Full Name" />

    <button type="submit">Sign Up</button>
  </form>
</template>

<template name="loginForm">
  <form id="login-form">
    <h2>Log In</h2>

    <label for="login-username">Username</label>
    <input type="text" id="login-username" placeholder="Username" />

    <label for="login-password">Password</label>
    <input type="password" id="login-password" placeholder="Password" />

    <button type="submit">Log In</button>
  </form>
</template>

<template name="logoutForm">
  <a class="item" id="logout">
    <i class="sign out icon"></i> Sign out
  </a> 
</template>