<template name="loginForm">
    <div class="column">
      <form id="login-form">
        <div class="ui fluid form">
          <h3 class="ui header">Log-in</h3>
          <div class="field">
            <label  for="login-email">Email</label>
            <input placeholder="Email" id="login-email" type="email">
          </div>
          <div class="field">
            <label for="login-password">Password</label>
            <input type="password" id="login-password">
          </div>
          <button type="submit" class="ui blue submit button">Login</button>
        </div>
      </form>
    </div>
</template>
    
    <template name="signupForm">
    <div class="column">
      <form id="signup-form">

        <div class="ui fluid form ">
          <h3 class="ui header">Sign Up</h3>

          <div class="field">
            <label>Email</label>
            <input placeholder="Email" type="email" id="signup-email" >
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" id="signup-password">
          </div>
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" id="conditions">
              <label for="conditions">I agree to the terms and conditions</label>
            </div>
          </div>
          <button type="submit" class="ui blue submit button">Submit</button>
        </div>
      </form>
    </div>
  
</template>

<template name="logoutForm">
  <a class="item" id="logout" type="submit">
    <i class="sign out icon"></i> Sign out
  </a> 
</template>