<template name="userAvatar">
	<form class="animated fadeInUp">			
		<h2><i class=" user icon"></i>Create Account</h2>
		<div class="ui grid">
			<div class="three wide column">
				<h3 class="ui header">Step 1</h3>
			</div>
			<div class="eleven wide column">
				<h3 class="ui header">Select Avatar</h3>
			</div>
		</div>
		<div class="ui small circular images">
			<img src="kid.jpg"  class="avatar" >
			<img src="kid1.jpg"   class="avatar" >
			<img src="kid2.jpg" class="avatar" >
			<img src="kid3.jpg"   class="avatar" >
			<img src="kid4.jpg"   class="avatar" >
		</div>
		<div class="ui grid">
			<div class="three wide column">
				<h3 class="ui header">Step 2</h3>
			</div>
			<div class="eleven wide column">
				<h3 class="ui header">Choose Your Username</h3>
			</div>
		</div>
		<div class="ui input focus" id="username">
			<input type="text" placeholder="username">
		</div>
		
		<div class="ui grid">
			<div class="three wide column">
				<h3 class="ui header">Step 3</h3>
			</div>
			<div class="eleven wide column">
				<h3 class="ui header">Join The Community</h3>
			</div>
		</div>
		<button class="ui teal labeled icon button " type="submit">
			Submit
			<i class="forward basic icon"></i>
		</button>
	</form>
</template >