<template name="userProfile">
			<h2><i class=" user icon"></i>Create Account</h2>
			<div class="ui grid">
				<div class="three wide column">
					<h3 class="ui header">Step 1 : Select Avatar</h3>
				</div>
				<div class="eleven wide column">
					<h3 class="ui header"></h3>
				</div>
			</div>
			<div class="ui small circular images">
				<div id="kid">
					<input type="radio" id="kid"><img src="kid.jpg">
				</div>
				<div id="kid1">
					<input type="radio" id="kid1"><img src="kid1.jpg">
				</div>
				<div id="kid2">
					<input type="radio" id="kid2"><img src="kid2.jpg">
				</div>
				<div id="kid3">
					<input type="radio" id="kid3"><img src="kid3.jpg">
				</div>
				<div id="kid4">
					<input type="radio" id="kid4"><img src="kid4.jpg">
				</div>
			</div>
			<div class="ui grid">
				<div class="three wide column">
					<h3 class="ui header">Step 2</h3>
				</div>
				<div class="eleven wide column">
					<h3 class="ui header">Choose Your Username</h3>
				</div>
			</div>
			<div class="ui input focus">
				<input type="text" placeholder="...">
			</div>
		
		<div class="ui grid">
				<div class="three wide column">
					<h3 class="ui header">Step 3</h3>
				</div>
				<div class="eleven wide column">
					<h3 class="ui header">Join The Community</h3>
				</div>
			</div>
			<div class="ui teal labeled icon button ">
				Submit
				<i class="forward basic icon"></i>
			</div>
		
	</template>