
<template name="roomx">
  <div class="container-fluid">
    <div class="main-row">
    
      <div class="col-md-12">
        <div>
          {{> room}}
        </div>
      </div>
      
    </div>
  </div>
</template>


<template name="room">
  <div class="span6">
    {{#with room}}
      <h1><small>Welcome to {{name}}</small></h1>
      <table id="chat" class="table table-striped">
        <tbody>
          {{#each messages}}
            <tr>
              <td>{{author}} :</td>
              <td>{{text}}</td>
            </tr>
          {{/each}}
          <tr>
            <td colspan="2">
              <form>
                <div class="row">
                  
                  <div class="col-md-8">
                    <input type="text" class="form-control input-sm" placeholder="Say what you want!">
                  </div>
                  
                  <div class="col-md-4">
                     <button type="button" class="btn btn-success btn-sm btn-block pull-right">Enter</button>
                  </div>
                
                </div>
                
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    {{/with}}
  </div>
</template>