<template name="roomsList" >
<div class="animated fadeInUp">
	<h2 ><i class="  users icon"></i>Communities</h2>
	<a  class="ui teal labeled icon button right floated" href="{{pathFor 'createRoom'}}" >Create community
	<i class="add sign icon "></i>
	</a>
	<form>
	<div class=" ui icon input">
		
		<div class="search-input">
        {{> esInput index="rooms" id="search" placeholder="Search some stuff.." }}
    </div>
		<i class="search icon"></i>
	</div>
	</form>

	<div class="ui fluid inverted three item menu">
		<a href="{{ pathFor 'topRoomsList' }}" class="item" >New</a>
		<a class="item">Top</a>
		
	</div>
	{{#ifEsIsSearching index="rooms" id="search"}}
        <div><h3>Loading...</h3></div>
    {{/ifEsIsSearching}}
    {{#if inputIsNotEmpty}}
            {{#esEach index="rooms" }}
                {{> roomItem}}
            {{/esEach}}

            {{#ifEsHasNoResults index="rooms" id="search"}}
                <div class="no-results"> <h3>No results found!</h3></div>
            {{/ifEsHasNoResults}}
        {{else}}
        {{#each rooms}}
			{{> roomItem}}
		{{/each}}
    {{/if}}
	</div>
</template> 
