<template name="createRoom">
	<h2 ><i class="add sign icon"></i> Create a Community</h2>
			<form >
				<div class="ui form">
					<div class="field"> 
						<div class="ui teal ribbon label">Name your room</div>
						<br>
						<input name="roomname" type="text" placeholder="Name your room"/>
					</div>
					<div class="field">
						<div class="ui teal ribbon label">Your Nickname</div>
						<br>
						<input name="nickname" type="text" placeholder="Your nickname"/>
					</div>
				</div>
				<input type="submit" value="Submit" class="ui teal button"/>
			</form>
</template>

