<template name="createRoom">
	<div class="row">
		<div class="col-md-8">
			<form class="main">
				<div class="ui form">
					<div class="field"> 
					<div class="ui teal ribbon label">Name your room</div>
					<br>
						<input name="roomname" type="text" placeholder="Name your room"/>
					</div>
				
				
				<div class="field">
					<div class="ui teal ribbon label">Your Nickname</div>

					<br>
						<input name="nickname" type="text" placeholder="Your nickname"/>
					</div>
				</div>
						
						
					<input type="submit" value="Submit" class="ui teal button"/>
				</form>
					</div>
				
				</div>
			
		 	
	<!--<div class="ui form">
  <div class="field">
    <label>User Input</label>
    <input type="text">
    <label>Fallow</label>
    <input type="text">
  </div>
</div>-->
</template>

