<!--<template name="create">
	<div class="row">
			<div class="col-md-8">
                    <input id="room" type="text" class="form-control input-sm" placeholder="Name your room!">
                    <input id="nickname" type="text" class="form-control input-sm" placeholder="Create your nickname!">
                  </div>
                  
                  <div class="col-md-4">
                     <button type="button" class="btn btn-success btn-sm btn-block pull-right">Create room</button>
                     <button type="button" class="btn btn-success btn-sm btn-block pull-right">Create </button>
                  </div>
                
                </div>
</template>!-->
<template name="create">
	<div class="row">
		<div class="col-md-8">
<form class="main">
<div class="control-group">
<label class="control-label" for="url">Room Name</label>
<div class="controls">
<input name="roomname" type="text" class="form-control" placeholder="Name your room"/>
</div>
</div>
<br>
<div class="control-group">
<label class="control-label" for="title">Nickname</label>
<div class="controls">
<input name="nickname" type="text" class="form-control" placeholder="Your nickname"/>
</div>
</div>
<div class="control-group">
<div class="controls">
	<br>
<input type="submit" value="Submit" class="btn btn-success"/>
</div>
</div>
</form>
</div>
</div>
</template>
