<template name="topRoomsList" >
<div class="animated fadeInUp">
	<h2 ><i class="  users icon"></i>Communities</h2>
	<a  class="ui teal labeled icon button right floated" href="{{pathFor 'createRoom'}}" >Create community
	<i class="add sign icon "></i>
	</a>
	<form>
	<div class=" ui icon input">
		<input type="text" placeholder="Search..." name="search">
		<i class="search icon"></i>
	</div>
	</form>

	<div class="ui fluid inverted three item menu">
		<a href="{{ pathFor 'topRoomsList' }}" class="item" >New</a>
		<a class="item">Top</a>
		
	</div>
	{{#each rooms}}
	{{> toproomItem}}
	{{/each}}
	</div>
</template>
