/* CSS declarations go here */
input#messageBox {
	width: 400px;
	border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px;
}
input#messageBox1 {

	border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 300px; 
    outline:0; 
    height:25px; 
    width: 5x; 
    padding-left:10px; 
    padding-right:10px;
}

.login-link-text {
	color:#ffffff;
}