	<template name="messageBox">
 	<form>
 		 <div class="col-md-8">

				 	<input name="body" type="text" class="form-control" placeholder="Say what you want"/>
				 	<input name="username" type="hidden" value="{{currentUser.username}}"/>
                  </div>
                  
                  <div class="col-md-4">
                     <button type="submit"  class="btn btn-success Submit btn-sm btn-block pull-right">Enter</button>
                  </div>
              </form>
 </template>
